@media (min-width: 991px) {
  h3 {
    text-transform: uppercase;
    border-bottom: 2px solid $yellow;
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.75rem;
    text-align: left;

    i.fas {
      margin-right: 0.5rem;
      width: inherit;
    }
  }
}
